div,p,ul,ol{
	marigin:0;
	padding:0;
	list-style: none;
}

/*视频大盒子*/
#videoBox{
	width:1080px;
	height:606px;
	border:1px solid black;
	float:left;
}
/*信息框大盒子*/
#infoBox {
	float: left;
	width: 400px;
	height: 600px;
	border:4px solid #009f95;
}

/*视频大小*/
video{
	float:left;
	width:1080px;
	height:606px;
}
/*用户信息小盒子*/
#userInfo {
	height: 90px;
	border-bottom : 1px solid rgb(128,128,255,0.3);
	background-color: rgb(128,128,255,0.1);
	box-shadow: 0 1px 10px rgb(0,0,0,0.2);
	overflow:hidden;
}

/*头像*/
#headImg{
	float: left;
	width: 86px;
	height: 80px;
	margin-top: 3px;
	border: 2px solid white;
	border-radius: 60%;
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
}
/*用户名*/
#userName{
	margin:10px 0px 0px 10px;
	line-height: 18px;
	font:normal bold 20px "微软雅黑";
	float:left;
	color:#eb7350;
}

#userCode{
	margin:15px 0px 0px 10px;
	line-height: 18px;
	font:normal bold 14px "微软雅黑";
	float:left;
}

/*粉丝视频数量*/
#brief{
	position: relative;
	top: 40px;
	left: -167px;
	font-size: 14px;
}

/*订阅按钮*/
#subscribe{
	position: relative;
	top: 5px;
	left: 40px;
	width: 80px;
	height: 30px;
	font-size: 13px;
	/*color: black;*/
	border: none;
	/*background-color: white;*/
	border-radius: 9px;
	box-shadow: 0 1px 10px rgb(0,0,0,0.2);
	outline: none;
}

/* 订阅按钮 覆盖效果*/
#subscribe:hover {
	color: red;
}

/*视频信息小盒子*/
#videoInfo{
	border-bottom: 1px solid rgb(128,128,255,0.3);
	height:80px;
}

/*视频标题*/
#title{
	margin:5px 0px 0px 10px;
	font:normal bold 20px "微软雅黑";
}

/*描述按钮*/
#controlDes{
	float:right;
	margin-right:5px;
}

#description{
	margin:5px 0px 0px 10px;
	font:normal normal 12px "微软雅黑";
}

.browseInfo{
	float:left;
	margin:5px 0px 0px 10px;
	font:normal normal 12px "微软雅黑";
}

/*功能区*/
#funBox{
	height:65px;
	border-bottom: 1px solid rgb(128,128,255,0.3);
}

/*小盒子*/
.funcbox{
	margin:10px 0px 0px 10px;
	height:35px;
	float:left;
}

/*点赞 收藏 评价 按钮*/
.funcButton{
	width:38px;
	height:32px;
}

/*对应数字*/
.num{
	position:relative;
	top:25px;
	left:-31px;
	font:normal normal 12px "幼圆";
}

#textBox{
	height:100px;
	display:none;
}

#comtSubmit {
	position: relative;
	top: -39px;
	width: 62px;
	height: 92px;
	color: white;
	border: none;
	background-color: #1E9FFF;
	border-radius: 9px;
	box-shadow: 0 1px 10px rgb(0,0,0,0.2);
}

/*评价框*/
#commentBox{

}

/*评论标题*/
#comTitle {
	position: relative;
	height: 24px;
	font: normal bold 16px black;
	text-align: center;
	background-color: rgb(128,128,255,0.3);
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
}

/*一行*/
.comment{
	height:70px;
	border-bottom:1px solid black;
}

/*评论人的头像*/
#comHeadImg{
	position:relative;
	float:left;
	width:55px;
	height:53px;
	margin:4px 0px 0px 2px;
	border: 1px solid white;
	border-radius: 60%;
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
}

/*评论框 用户名*/
.comUserName {
	position: relative;
	top: 2px;
	left: 10px;
	color: rgb(0,128,192);
}

/*评论创建时间*/
.createTime{
	position: relative;
	top: -12px;
	left: 80px;
	font: normal normal 8px "微软雅黑"
}

/*评论内容*/
.content {
	position: relative;
	top: 2px;
	left: 10px;
	font: normal normal 14px "微软雅黑"
}
