body,p,div,form,ul,li{
	margin:0px;
	padding:0px;
	list-style: none;
}

.top {
	width: auto;
	height: 78px;
	/*height:250px;*/
	margin: 0px auto;
	border: solid 1px #2C6FAD;
	background: #2C6FAD;
}

/*sspu logo*/
.top #logo {
	float: left;
	margin-top: 10px;
}

.top #search{
    position:absolute;
    /*margin:10px 0px 0px 1000px;*/
   left:960px;
   top:18px;
}

.top .drop-down{
	/*margin:10px 0px 0px 150px;*/
	position:absolute;
	top:12px;
	left:20px;
	/*top:-68px;*/
}
.top .drop-down ul{
	position:absolute;
	left:180px;
	width:800px;
}
.top .drop-down ul li{
	float:left;
	width:90px;
	margin:10px 0px 0px 60px;
	text-align: center;
}

.top .drop-down ul li a {
	text-decoration: none;
}

.top .title {
	line-height: 18px;
	font: normal bold 18px "幼圆";
	color: white;
}

.top .sub-title {
	line-height: 12px;
	font-size: 12px;
	color: white;
}

.drop-down-content{
	/*display:none;*/
	position: relative;
	z-index: 9999;
	background: rgba(000,000,000,0.5);
	height:0px;
	width:1637px;
	top:72px;
	color: white;
	left:0px;
	transition: height 0.5s ease-in-out;
	overflow: hidden;
}

.drop-down-content ul{
	width:800px;
	position:absolute;
}

.drop-down-content ul li{
	color:white;
}

.drop-down-content a:hover li{
	color:#DBC083;
}

.drop-down:hover .drop-down-content{
	/*display:block;*/
	height: 100px;
}

/*main 主要内容*/
#center {
	width: 1517px;
	height: 710px;
	margin-top: 80px;
}

/*推荐视频框*/
#box1 {
	float: left;
	height: 700px;
	width: 1010px;
	border:1px solid black;
}

/*关注视频框*/
#box2 {
	float: right;
	width:500px;
	height:700px;
	border:1px solid black;
}

/*轮播图*/
#carousel{
	height:270px;
	width:auto;
	border-bottom: 1px solid blue;
}

#videos-display-bottom {
	height: 418px;
	width: auto;
	border: 1px dashed black;
}

.squareBottom{
	float: left;
	width: 150px ;
	height: 150px;
	border: 1px dashed darkseagreen;
}

.cover{
	width: 150px;
	height: 100px;
}

/*我的关注：*/
#box-title {
	width: 500px;
	height: 50px;
	font: normal bold 30px "幼圆";
	text-align: center;
	vertical-align: center;
	line-height: 50px;
	border-bottom: 2px solid black;
	background-color: #ff447c;
}

/*视频单元框*/
#videosRight{
	height:650px;
	width:auto;
	overflow: auto;
}

/*视频单元行*/
.row{
	width:500px;
	height:90px;
	border-bottom: 2px solid black;
}

/*被关注人头像*/
.headImg{
	float:left;
	width:80px;
	height: 80px;
	margin-top: 3px;
	border: 2px dotted bisque;
	border-radius: 60%;
}

/*内容框*/
.contentRight {
	float: left;
	width: 300px;
	height: 90px;
	overflow: hidden;
}

/*用户名 时间*/
.userNameRight {
	float: left;
	width: 180px;
	margin-top: 10px;
	font: normal bold 16px "微软雅黑";
	color: #eb7350;
	vertical-align: center;
}

/*时间*/
.timeRight {
	float: right;
	margin-top: 4px;
	font-size: 10px;
	color: black;
}

/*标题*/
.titleRight {
	position: relative;
	top: 4px;
	width: 150px;
	height: auto;
}

/*封面*/
.coverRight {
	float: right;
	width: auto;
	height: 80px;
	margin: 3px 2px 0px 0px;
}
