body,p,div,form,ul,li{
	margin:0px;
	padding:0px;
	list-style: none;
}

/* body 宽 高*/
body {
	width: 100%;
	/*height: 1080px;*/
}

/* header nav*/
.top {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background: #2C6FAD;
}

/* sspu logo*/
.top #logo {
	position: relative;
	width: 250px;
	/*width: 16%;*/
	height: 100%;
	overflow: hidden;
}

/* sspu logo img*/
.top #logo img {
	position: absolute;
	width: 250px;
	height: 73.3px;
}

/* 导航栏 盒子*/
.top .drop-down{
	position: absolute;
	top: 0;
	left: 250px;
	width: 60%;
	height: 100%;
	overflow: hidden;
}

/* 无序列表 设置*/
.top .drop-down ul{
	width: 100%;
	height: 100%;
}

/* li */
.top .drop-down ul li{
	width:90px;
	margin:20px 0px 0px 60px;
}

/* 头像框 */
.top #headImg {
	position: absolute;
	top: 0;
	right: 5%;
	z-index: 9999;
	width: 74px;
	height: 74px;
	border: 3px solid white;
	border-radius: 60%;
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
}

/* 头像 大小 设置*/
.top #headImg #navInfo img {
	width: 74px;
	height: 74px;
	border-radius: 60%;
}

/* 信息框 */
.top #headImg #navInfo ul {
	position: relative;
	top: 10px;
	left: -10px;
	width: 100px;
	/*height: 120px;*/
	height: 0;
	border: none;
	border-radius: 19px;
	background-color: white;
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
	transition: 1s ease-in-out;
	overflow: hidden;
}

/* 信息框 li */
.top #headImg #navInfo ul li {
	margin-top: 17px;
	font-size: 16px;
	color: white;
	line-height: 16px;
}

/* 信息框 覆盖 */
.top #headImg #navInfo img:hover+ul,.top #headImg #navInfo ul:hover{
	height: 120px;
}

/* 第一行 中文标题*/
.top .title {
	font: normal bold 18px "幼圆";
	color: white;
	line-height: 18px;
}

/* 第二行 英文标题*/
.top .sub-title {
	font-size: 12px;
	color: white;
	line-height: 12px;
}

/*main 主要内容*/
#center {
	position: relative;
	left: 0;
	width: 100%;
	height: 700px;
	overflow: hidden;
}

/*推荐视频框*/
#box1 {
	position: absolute;
	left: 0px;
	width: 66%;
	height: 100%;
	border: none;
	box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
}

/*关注视频框*/
#box2 {
	position: absolute;
	left: 66%;
	width: 34%;
	height: 100%;
	border: 1px solid rgb(0,0,0,0.1);
	box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
}

/*轮播图*/
#carousel{
	height:270px;
	width:auto;
	border-bottom: 1px solid blue;
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
}

/*视频推荐框*/
#videos-display-bottom {
	height: 412px;
	width: auto;
	margin-top: 2px;
	border: 3px solid #eb7350;
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
}

.squareBottom{
	float: left;
	width: 150px ;
	height: 140px;
	border: 3px solid darkseagreen;
}

/*封面*/
.cover{
	width: 146px;
	height: 100px;
	margin: 0 2px 2px 2px;
}

/*标题*/
.titleBottom {
	font-weight: bold;
	color: rgb(255,255,255,0.9);
}

/*信息框*/
.info {
	background-color: #009688;
}

/*用户名*/
.userNameBottom {
	margin-top: 2px;
	font-size: 12px;
	color: white;
}

/*tag*/
.tag {
	position: relative;
	float: right;
	bottom: 17px;
	width: 30px;
	margin-right: 2px;
	font-size: 12px;
	color: white;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
	outline: none;
}

/*.tag:nth-child(1) {*/
#tag1 {
	background-color: #009f95;
}

/*.tag:nth-child(2) {*/
#tag2 {
	background-color: #eb7350;
}

/*我的关注：*/
#box-title {
	width: 100%;
	height: 50px;
	margin-bottom: 1px;
	font: normal bold 30px "幼圆";
	color: white;
	text-align: center;
	vertical-align: center;
	line-height: 50px;
	background-color: #ff447c;
	box-shadow: 0 1px 10px rgb(0,0,0,0.1);
}

/*视频单元框*/
#videosRight{
	height:650px;
	width:auto;
	overflow: auto;
}

/*视频单元行*/
.row{
	width: 100%;
	height: 90px;
	border-bottom: 2px solid rgb(0,0,0,0.1);
}

/*被关注人头像*/
.headImg{
	float:left;
	width:80px;
	height: 80px;
	margin-top: 3px;
	border: 2px dotted bisque;
	border-radius: 60%;
}

/*内容框*/
.contentRight {
	float: left;
	width: 300px;
	height: 90px;
	overflow: hidden;
}

/*用户名 时间*/
.userNameRight {
	float: left;
	width: 180px;
	margin-top: 10px;
	font: normal bold 16px "微软雅黑";
	color: #eb7350;
	vertical-align: center;
}

/*时间*/
.timeRight {
	float: right;
	margin-top: 4px;
	font-size: 10px;
	color: black;
}

/*标题*/
.titleRight {
	position: relative;
	top: 4px;
	width: 150px;
	height: auto;
}

/*封面*/
.coverRight {
	float: right;
	width: auto;
	height: 80px;
	margin: 3px 2px 0px 0px;
}

/*未登录时 关注窗口*/
.loginAlert {
	width: 100%;
	height: 100%;
	border: none;
	background-color: rgb(0,0,0,0.5);
}

/*登录按钮*/
.loginAlert #loginButton {
	position: relative;
	top: 150px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	font: normal bold 16px "微软雅黑";
	text-align: center;
	border-radius: 13px;
	box-shadow: 0 1px 10px rgb(255,255,255,0.5);
	outline: none;
	display: block;
}

/*登录按钮 悬停*/
.loginAlert #loginButton:hover {
	color: white;
	background-color: #ff447c;
}