<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="website.mapper.VedioMapper">

    <select id="vedioInfo" resultType="website.vo.VedioVo">
        SELECT USER_NAME,HEAD_IMG,URL,TITLE,DESCRIPTION,COVER_URL
        FROM vedio v,user u
        WHERE v.USER_CODE = u.USER_CODE
    </select>

    <select id="vedioSubscribed" resultType="websit.vo.VedioVo">
        SELECT USER_CODE,USER_NAME,HEAD_IMG,URL,TITLE,DESCRIPTION,COVER_URL
        FROM vedio v
        LEFT OUTER JOIN user u
        ON v.USER_CODE = u.USER_CODE
        WHERE u.USER_CODE IN
        <foreach collection="list" item="userCode" index="index" open="(" separator="," close=")">
            #{userCode}
        </foreach>
        ORDER BY CREATE_TIME
    </select>
</mapper>